<mat-toolbar>
  <mat-toolbar-row #toolbar>
    <button mat-icon-button (click)="sideNav.toggle()">
      <mat-icon>
        menu
      </mat-icon>
    </button>
    <span class="spacer"></span>
    <img src="./assets/x-Lunar_Dynamo.png" routerLink="''" class="logo">
  </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container fullscreen [ngStyle]="{'top': toolbar.offsetHeight + 'px'}">
  <mat-sidenav #sideNav mode="side" [fixedInViewport]="true" [fixedTopGap]="toolbar.offsetHeight" opened>
    <app-side-nav></app-side-nav>
  </mat-sidenav>
  <mat-sidenav-content class="app-content">
    <router-outlet></router-outlet>
    <div class="slappy-cub"></div>
  </mat-sidenav-content>
</mat-sidenav-container>