<mat-accordion >
    <mat-expansion-panel *ngFor="let r of rules">
        <mat-expansion-panel-header>
            <mat-panel-title>
                {{r.header}}
            </mat-panel-title>
            <mat-panel-description>
                {{r.description}}
            </mat-panel-description>
        </mat-expansion-panel-header>
        <ng-container *ngFor="let rs of r.rules">
            <p>
                <mat-icon >
                    {{rs.icon}}
                </mat-icon>
                <span>
                    {{rs.rule}}
                </span>
            </p>
        </ng-container>
    </mat-expansion-panel>
</mat-accordion>
