<div class="container-fluid">
    <h1><b><i>THIS FEATURE IS STILL A WORK IN PROGRESS!</i></b></h1>
    <h1>FFXIV Item Level Calculator</h1>
    <br>
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
            <h2>Left Side Gear</h2>
            <br>
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Arm Item Level</mat-label>
                <input matInput id="arm" appInputProtector inputmode="numeric" pattern="[0-9]*" [value]="iLevels.arm" (input)="getInputValue($event.target.value, $event.target.id)">
            </mat-form-field>
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Head Item Level</mat-label>
                <input matInput id="head" appInputProtector inputmode="numeric" pattern="[0-9]*" [value]="iLevels.head" (input)="getInputValue($event.target.value, $event.target.id)">
            </mat-form-field>
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Body Item Level</mat-label>
                <input matInput id="body" appInputProtector inputmode="numeric" pattern="[0-9]*" [value]="iLevels.body" (input)="getInputValue($event.target.value, $event.target.id)">
            </mat-form-field>
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Hands Item Level</mat-label>
                <input matInput id="hands" appInputProtector inputmode="numeric" pattern="[0-9]*" [value]="iLevels.hands" (input)="getInputValue($event.target.value, $event.target.id)">
            </mat-form-field>
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Waist Item Level</mat-label>
                <input matInput id="waist" appInputProtector inputmode="numeric" pattern="[0-9]*" [value]="iLevels.waist" (input)="getInputValue($event.target.value, $event.target.id)">
            </mat-form-field>
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Legs Item Level</mat-label>
                <input matInput id="legs" appInputProtector inputmode="numeric" pattern="[0-9]*" [value]="iLevels.legs" (input)="getInputValue($event.target.value, $event.target.id)">
            </mat-form-field>
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Feet Item Level</mat-label>
                <input matInput id="feet" appInputProtector inputmode="numeric" pattern="[0-9]*" [value]="iLevels.feet" (input)="getInputValue($event.target.value, $event.target.id)">
            </mat-form-field>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
            <h2>Right Side Gear</h2>
            <br>
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Offhand Item Level</mat-label>
                <input matInput id="offhand" appInputProtector [disabled]="!hasOffHand" inputmode="numeric" pattern="[0-9]*" [value]="iLevels.offhand" (input)="getInputValue($event.target.value, $event.target.id)">
                <button matSuffix mat-icon-button matTooltip="Click me to {{ hasOffHand ? 'lock' : 'unlock'}} the input" (click)="controlOffHandInput()">
                    <mat-icon>
                        {{hasOffHand ? 'lock_open' : 'lock'}}
                    </mat-icon>
                </button>
            </mat-form-field>
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Earrings Item Level</mat-label>
                <input matInput id="earrings" appInputProtector inputmode="numeric" pattern="[0-9]*" [value]="iLevels.earrings" (input)="getInputValue($event.target.value, $event.target.id)">
            </mat-form-field>
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Necklace Item Level</mat-label>
                <input matInput id="necklace" appInputProtector inputmode="numeric" pattern="[0-9]*" [value]="iLevels.necklace" (input)="getInputValue($event.target.value, $event.target.id)">
            </mat-form-field>
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Bracelets Item Level</mat-label>
                <input matInput id="bracelets" appInputProtector inputmode="numeric" pattern="[0-9]*" [value]="iLevels.bracelets" (input)="getInputValue($event.target.value, $event.target.id)">
            </mat-form-field>
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Ring1 Item Level</mat-label>
                <input matInput id="ring1" appInputProtector inputmode="numeric" pattern="[0-9]*" [value]="iLevels.ring1" (input)="getInputValue($event.target.value, $event.target.id)">
            </mat-form-field>
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Ring2 Item Level</mat-label>
                <input matInput id="ring2" appInputProtector inputmode="numeric" pattern="[0-9]*" [value]="iLevels.ring2" (input)="getInputValue($event.target.value, $event.target.id)">
            </mat-form-field>
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Total Item Level</mat-label>
                <input matInput id="total" [value]="totalILevel" disabled>
            </mat-form-field>
        </div>

        <div class="row">
            <div class="col s12 m12 l12 xl12">
                <mat-card class="w-100">
                    <mat-card-header>
                        <mat-card-title>Notice</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <p>This tool can use your localstorage to save your item levels and quicken the process each
                            time you access the tool. However, the tool will not use your localstorage without your
                            consent. To save your item levels to your localstorage and give the tool your consent to
                            use it for such purposes, simply press the switch below.</p>
                        <p><b>NOTE:</b> This doesn't mean, in any way, that your item levels will be synchronized
                            across devices.</p>
                    </mat-card-content>
                    <mat-card-actions>
                        I don't consent <mat-slide-toggle [checked]="hasConcent" (change)="verifyConsent()" #consentChecker></mat-slide-toggle> I consent
                    </mat-card-actions>
                </mat-card>
            </div>
        </div>
    </div>