/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.app-content{
    padding: 1rem;
    position: relative;
    .slappy-cub{
    background-image: url('./assets/259970_Lushi Slappy.gif');
    background-repeat: no-repeat;
    height: 45%;
    width: 30%;
    position: absolute;
    bottom: 0px;
    right: 0px;
    top:auto;
    opacity: 5%;
    z-index: -9999999;
    }
}
mat-toolbar{
    background-color: #d1e0ff !important;
}
.spacer {
    flex: 1 1 auto;
}