/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.app-content{
    padding: 3rem;
    .slappy-cub{
    background-image: url('./assets/259970_Lushi Slappy.gif');
    background-repeat: no-repeat;
    background-position: 100%,100%;
    background-size: contain;
    height: 50vmin;
    width: 50vmin;
    position: fixed;
    bottom: 0px;
    right: 0px;
    opacity: 5%;
    z-index: -9999999;
    }
}
mat-toolbar{
    background-color: #d1e0ff !important;
}
.spacer {
    flex: 1 1 auto;
}